html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
    background-color: #1677d9;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 150px;
}